<div class="container-fluid">
<div class="row">


    <div class=' animated intro1 bounceInLeft'><h2 >It takes a single minute to set a resolution, spend an extra minute noting it down</h2></div>

    <div class=' animated intro3 bounceInLeft'><h4>Share your milestones and experiences</h4></div>

    <div class= "rounded mx-auto d-block">
      <%= image_tag "home/tree.jpg", :class => "img-fluid w-150"%>
  </div>
  <% if current_user  %>
   <button type="button" class="btn btn-primary btn-sm"><%= link_to 'Login as a user', tops_guest_sign_in_path, method: :post %></button>
   <button type="button" class="btn btn-secondary btn-sm"><%= link_to 'Login as an admin', tops_guest_admin_sign_in_path, method: :post %></button>
  <% end %>

  </div>
</div>
