<div class="container-fluid">
  <div class= "header">
  <button class="top-btn guest-btn"><%= link_to "Guest login ", users_guest_sign_in_path, method: :post %></button>
  <button class="top-btn admin-guest-btn"><%= link_to "Admin login", users_admin_guest_sign_in_path, method: :post %></button>

</div>
<div class="container text-center">

    <div class=' animated intro1 jello'><h2 >It takes a single minute to set a resolution,<br> spend an extra minute noting it down</h2></div>

    <div class=' animated intro3 jello'><h4>Share your milestones and experiences</h4></div><br>

</div>
<div class= 'animate'>
<i class="fas fa-shoe-prints " style="font-size:20px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:30px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:40px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:50px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:60px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:70px;color:#2196F3"></i>
<i class="fas fa-shoe-prints" style="font-size:80px;color:#2196F3"></i>
<i class="fas fa-walking  fa-9x"></i>


</div>
</div>
